body {
    overflow-x: hidden;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
  
  .bg-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
    top:0;
    left:0;
    z-index:-1;
    filter: brightness(0.6);
  }  

  .home-content {
    padding-top: 100px;
    text-align: center;
  }

  .navbar-scrolled {
    background-color: black;
    box-shadow: 0 1px 10px rgba(0, 0,0,0.15);
  }

  .navbar {
    transition: all 0.5s;
  }

  .container {
    overflow-x: hidden;
  }