.header {
    position: absolute;
    width: 100%;
    z-index: 1000;
  }

  .navbar-scrolled {
    background-color: black;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  }
  
  .navbar {
    transition: all 0.5s;
    color:white !important;
    
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    transition: color 0.6s ease-in-out;
    font-size: 1.3rem;
  }

  .custom-padding .nav-item {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* ::-webkit-scrollbar{
    display: none;
  }  */

  /* @font-face {
    font-family: "Formula-1-Regular";
    src: local("Formula-1-Regular"),
      url("./fonts/Formula-1-Regular.ttf") format("opentype");
    font-weight: normal;
  }

  .selector {
    font-family: "Formula-1-Regular";
    font-style: italic;
    } */