.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: 	white;
    color: black;
  }
  
  .logo {
    font-size: 1.5em;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    margin: 0;
  }
  
  .navbar ul li a {
    color: black;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  
  .line {
    position: absolute;
    top: 80px; 
    left: 0;
    right: 0;
    height: 6px;
    background-color: red;
    width: 550px;
  }

  .diagnol {
    position: absolute;
    top: 81px; 
    left: 548px;
    height: 5.5px;
    background-color: red;
    width: 300px;
    transform: rotate(-20deg);
    transform-origin: left;
  }

  .top{
    position: absolute;
    top: 1px; 
    left: 765px;
    height: 6px;
    background-color: red;
    width: 550px;
  }